<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <nav class="navbar">

        <a href="/home"><img id="steveLogo" src="/images/stevenLogo-removebg.png" alt="steveimg"></a>

        <a id="steve" href="/home">Steve</a>

        <ul>

            <div class="menu">

                <li><a href="/about">About 🤓</a></li>
                <li><a href="/works">Works 📖</a></li>

                <li class="photos">
                <a href="/photogallery">Photo Gallery 📸</a>
                    <ul class="dropdown">
                        <li><a href="/photogallery">The man himself ❤️</a></li>
                        <li><a href="/photogallery">Favorite memes 💀</a></li>
                    </ul>
                </li>
                        
                <li><a href="/contact">Contact Us 📞</a></li>

            </div>

        </ul>

    </nav>

    <h1>Contacts 📞</h1>

    <div id="contactdiv">
         <span>Unfortunately, Steve is no longer with us.<br>Perhaps consider a prayer.</span><br><span style="font-size: 30px;">😢</span>
    </div>

    <hr id="contactshr">

    <section id="home">
        <address class="address">Westminster Abbey<br />20 Deans Yd,<br />London SW1P 3PA,<br />United Kingdom<br /></address>
        <iframe src="https://maps.google.com/maps?q=20%20Deans%20Yd,%20London%20SW1P%203PA,%20United%20Kingdom&t=&z=13&ie=UTF8&iwloc=&output=embed" class="map-frame" frameborder="0" style="border:0" allowfullscreen></iframe> 
    </section>
</body>
</html>